@media screen and (max-width: 321px) and (max-height: 569px) {
    body {
        width: 100%;
        height: 100vh;
        margin: 0;
        background: linear-gradient(to right, rgba(212, 175, 55, 0.5), rgba(2, 0, 53, 0.3));
        position: fixed;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fffafa;
        transform: translateY(31.5vh);
        margin: 15% auto;
        padding: 20px;
        border: none;
        width: 80%;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 4.5vw;
        border-radius: 4.5vh;
        box-shadow: 0.4vh 0.4vh 1vh #000000, -0.1vh -0.1vh 1vh #000000;
    }

    #allowButton {
        background-color: #4CAF50;
        color: white;
        border: none;
        width: 15vw;
        height: 5vh;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        font-size: 3.5vw;
        border-radius: 3.5vh;
    }

    /* Style for the X button */
    #cancelButton {
        background-color: #f44336;
        color: white;
        border: none;
        width: 15vw;
        height: 5vh;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        font-size: 3.5vw;
        border-radius: 3.5vh;
    }

    .modal-content button:hover {
        background-color: #45a049;
    }

    #map {
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 1;
    }

    .circle {
        margin: auto;
        width: 18.25vw;
        height: 8.92vh;
        background-color: #fffafa;
        border-radius: 50%;
        position: fixed;
        top: 89.1vh;
        right: 40.8vw;
        filter: drop-shadow(0.2vh 0.2vh 0.8vh rgb(0, 0, 0, 0.8));
        z-index: 6;
    }


    .navbar {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 8vh;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to right, #d4af37, #020035);
        border-top-left-radius: 3vh;
        border-top-right-radius: 3vh;
        display: block;
        position: fixed;
        z-index: 4;
        box-shadow: 0.1vh 0.1vh 1vh #000000, -0.1vh -0.1vh 1vh #000000;
    }

    .navbar-circle {
        margin-left: auto;
        margin-right: auto;
        width: 21vw;
        height: 10.45vh;
        background: linear-gradient(to right, rgba(212, 175, 55, 1), rgba(2, 0, 53, 1));
        border-radius: 50%;
        position: fixed;
        top: 88.35vh;
        right: 39.4vw;
        z-index: 5;
    }

    #btnStart {
        margin-left: auto;
        margin-right: auto;
        font-size: 8vw;
        display: block;
        position: fixed;
        z-index: 7;
        transform: translateX(45.25vw) translateY(90.75vh);
        background: none;
        border: none;
        color: #d4af37;
        filter: drop-shadow(0.2vh 0.2vh 0.8vh rgba(0, 0, 0, 0.5));
    }

    a.logo {
        margin: auto;
        text-align: center;
        display: block;
        overflow: hidden;
        position: fixed;
        z-index: 8;
        transform: translateY(41.25vh);
        left: 18vw;
        pointer-events: auto;
    }

    a.logo img {
        width: 30%;
        overflow: hidden;
        height: auto;
        margin: auto;
        display: block;
        filter: drop-shadow(0.2vh 0.2vh 0.8vh rgba(0, 0, 0, 0.5));
    }

    .fas.fa-stop {
        color: #020035;
        transform: translateX(-0.25vw);
    }

    .leaflet-control-geocoder {
        left: 10.5vw;
        position: fixed;
        z-index: 10;
    }

    .leaflet-control-geocoder-form input[type="text"] {
        /* Add your styling here */
        width: 65vw;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        z-index: 10;
    }
    
    /* Style for the search bar button */
    .leaflet-control-geocoder-form button[type="submit"] {
        /* Add your styling here */
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        cursor: pointer;
        z-index: 10;
    }
    
    .clear-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-40%);
        z-index: 10;
        cursor: pointer;
    }
    
    .clear-icon i {
        font-size: 3vh;
        color: black;
    }

    .leaflet-routing-container {
        display: none !important;
    }
}

@media screen and (max-width: 376px) and (max-height: 813px) {
    body {
        width: 100%;
        height: 100vh;
        margin: 0;
        background: linear-gradient(to right, rgba(212, 175, 55, 0.5), rgba(2, 0, 53, 0.3));
        position: fixed;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fffafa;
        transform: translateY(31.5vh);
        margin: 15% auto;
        padding: 20px;
        border: none;
        width: 80%;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 4.5vw;
        border-radius: 4.5vh;
        box-shadow: 0.4vh 0.4vh 1vh #000000, -0.1vh -0.1vh 1vh #000000;
    }

    #allowButton {
        background-color: #4CAF50;
        color: white;
        border: none;
        width: 15vw;
        height: 5vh;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        font-size: 3.5vw;
        border-radius: 3.5vh;
    }

    /* Style for the X button */
    #cancelButton {
        background-color: #f44336;
        color: white;
        border: none;
        width: 15vw;
        height: 5vh;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        font-size: 3.5vw;
        border-radius: 3.5vh;
    }

    .modal-content button:hover {
        background-color: #45a049;
    }

    #map {
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 1;
    }

    .circle {
        margin: auto;
        width: 18.25vw;
        height: 8.92vh;
        background-color: #fffafa;
        border-radius: 50%;
        position: fixed;
        top: 89.1vh;
        right: 40.8vw;
        filter: drop-shadow(0.2vh 0.2vh 0.8vh rgb(0, 0, 0, 0.8));
        z-index: 6;
    }


    .navbar {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 8vh;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to right, #d4af37, #020035);
        border-top-left-radius: 3vh;
        border-top-right-radius: 3vh;
        display: block;
        position: fixed;
        z-index: 4;
        box-shadow: 0.1vh 0.1vh 1vh #000000, -0.1vh -0.1vh 1vh #000000;
    }

    .navbar-circle {
        margin-left: auto;
        margin-right: auto;
        width: 21vw;
        height: 10.45vh;
        background: linear-gradient(to right, rgba(212, 175, 55, 1), rgba(2, 0, 53, 1));
        border-radius: 50%;
        position: fixed;
        top: 88.35vh;
        right: 39.4vw;
        z-index: 5;
    }

    #btnStart {
        margin-left: auto;
        margin-right: auto;
        font-size: 8vw;
        display: block;
        position: fixed;
        z-index: 7;
        transform: translateX(45.25vw) translateY(90.75vh);
        background: none;
        border: none;
        color: #d4af37;
        filter: drop-shadow(0.2vh 0.2vh 0.8vh rgba(0, 0, 0, 0.5));
    }

    a.logo {
        margin: auto;
        text-align: center;
        display: block;
        overflow: hidden;
        position: fixed;
        z-index: 8;
        transform: translateX(24.25vh) translateY(41.25vh);
        left: 2vw;
        pointer-events: auto;
    }

    a.logo img {
        width: 30%;
        overflow: hidden;
        height: auto;
        margin: auto;
        display: block;
        filter: drop-shadow(0.2vh 0.2vh 0.8vh rgba(0, 0, 0, 0.5));
    }

    .fas.fa-stop {
        color: #020035;
        transform: translateX(-0.25vw);
    }

    .leaflet-control-geocoder {
        transform: translateX(-8.5vw) translateY(0.9vh);
        left: .65vw;
        position: fixed;
        z-index: 10;
    }

    .leaflet-control-geocoder-form input[type="text"] {
        /* Add your styling here */
        width: 65vw;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        z-index: 10;
    }
    
    /* Style for the search bar button */
    .leaflet-control-geocoder-form button[type="submit"] {
        /* Add your styling here */
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        cursor: pointer;
        z-index: 10;
    }
    
    .clear-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-40%);
        z-index: 10;
        cursor: pointer;
    }
    
    .clear-icon i {
        font-size: 3vh;
        color: black;
    }

    .leaflet-routing-container {
        display: none !important;
    }
}

@media screen and (max-width: 415px) and (max-height: 897px) {
    body {
        width: 100%;
        height: 100vh;
        margin: 0;
        background: linear-gradient(to right, rgba(212, 175, 55, 0.5), rgba(2, 0, 53, 0.3));
        position: fixed;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fffafa;
        transform: translateY(31.5vh);
        margin: 15% auto;
        padding: 20px;
        border: none;
        width: 80%;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 4.5vw;
        border-radius: 4.5vh;
        box-shadow: 0.4vh 0.4vh 1vh #000000, -0.1vh -0.1vh 1vh #000000;
    }

    #allowButton {
        background-color: #4CAF50;
        color: white;
        border: none;
        width: 15vw;
        height: 5vh;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        font-size: 3.5vw;
        border-radius: 3.5vh;
    }

    /* Style for the X button */
    #cancelButton {
        background-color: #f44336;
        color: white;
        border: none;
        width: 15vw;
        height: 5vh;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        font-size: 3.5vw;
        border-radius: 3.5vh;
    }

    .modal-content button:hover {
        background-color: #45a049;
    }

    #map {
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 1;
    }

    .circle {
        margin: auto;
        width: 18.25vw;
        height: 8.92vh;
        background-color: #fffafa;
        border-radius: 50%;
        position: fixed;
        top: 89.1vh;
        right: 40.8vw;
        filter: drop-shadow(0.2vh 0.2vh 0.8vh rgb(0, 0, 0, 0.8));
        z-index: 6;
    }


    .navbar {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 8vh;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to right, #d4af37, #020035);
        border-top-left-radius: 3vh;
        border-top-right-radius: 3vh;
        display: block;
        position: fixed;
        z-index: 4;
        box-shadow: 0.1vh 0.1vh 1vh #000000, -0.1vh -0.1vh 1vh #000000;
    }

    .navbar-circle {
        margin-left: auto;
        margin-right: auto;
        width: 21vw;
        height: 10.45vh;
        background: linear-gradient(to right, rgba(212, 175, 55, 1), rgba(2, 0, 53, 1));
        border-radius: 50%;
        position: fixed;
        top: 88.35vh;
        right: 39.4vw;
        z-index: 5;
    }

    #btnStart {
        margin-left: auto;
        margin-right: auto;
        font-size: 8vw;
        display: block;
        position: fixed;
        z-index: 7;
        transform: translateX(45.25vw) translateY(90.75vh);
        background: none;
        border: none;
        color: #d4af37;
        filter: drop-shadow(0.2vh 0.2vh 0.8vh rgba(0, 0, 0, 0.5));
    }

    a.logo {
        margin: auto;
        text-align: center;
        display: block;
        overflow: hidden;
        position: fixed;
        z-index: 8;
        transform: translateX(24.25vh) translateY(41.25vh);
        pointer-events: auto;
    }

    a.logo img {
        width: 30%;
        overflow: hidden;
        height: auto;
        margin: auto;
        display: block;
        filter: drop-shadow(0.2vh 0.2vh 0.8vh rgba(0, 0, 0, 0.5));
    }

    .fas.fa-stop {
        color: #020035;
        transform: translateX(-0.25vw);
    }

    .leaflet-control-geocoder {
        transform: translateX(-8.5vw) translateY(0.9vh);
        position: fixed;
        z-index: 10;
    }

    .leaflet-control-geocoder-form input[type="text"] {
        /* Add your styling here */
        width: 65vw;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        z-index: 10;
    }
    
    /* Style for the search bar button */
    .leaflet-control-geocoder-form button[type="submit"] {
        /* Add your styling here */
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        cursor: pointer;
        z-index: 10;
    }
    
    .clear-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-40%);
        z-index: 10;
        cursor: pointer;
    }
    
    .clear-icon i {
        font-size: 3vh;
        color: black;
    }

    .leaflet-routing-container {
        display: none !important;
    }
}

@media screen and (max-width: 429px) and (max-height: 927px) {
    body {
        width: 100%;
        height: 100vh;
        margin: 0;
        background: linear-gradient(to right, rgba(212, 175, 55, 0.5), rgba(2, 0, 53, 0.3));
        position: fixed;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fffafa;
        transform: translateY(31.5vh);
        margin: 15% auto;
        padding: 20px;
        border: none;
        width: 80%;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 4.5vw;
        border-radius: 4.5vh;
        box-shadow: 0.4vh 0.4vh 1vh #000000, -0.1vh -0.1vh 1vh #000000;
    }

    #allowButton,
    #cancelButton {
        background-color: #4CAF50;
        color: white;
        border: none;
        width: 80%;
        height: 5vh;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        font-size: 4vw;
        border-radius: 3.5vh;
        margin-bottom: 10px;
    }

    #cancelButton {
        background-color: #f44336;
    }

    .modal-content button:hover {
        background-color: #45a049;
    }

    #map {
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 1;
    }

    .circle {
        margin: auto;
        width: 80%;
        height: 8.92vh;
        background-color: #fffafa;
        border-radius: 50%;
        position: fixed;
        top: 89.1vh;
        right: 40%;
        filter: drop-shadow(0.2vh 0.2vh 0.8vh rgb(0, 0, 0, 0.8));
        z-index: 6;
    }

    .navbar {
        width: 100%;
        height: 8vh;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to right, #d4af37, #020035);
        border-top-left-radius: 3vh;
        border-top-right-radius: 3vh;
        position: fixed;
        z-index: 4;
        box-shadow: 0.1vh 0.1vh 1vh #000000, -0.1vh -0.1vh 1vh #000000;
    }

    .navbar-circle {
        width: 80%;
        height: 10.45vh;
        background: linear-gradient(to right, rgba(212, 175, 55, 1), rgba(2, 0, 53, 1));
        border-radius: 50%;
        position: fixed;
        top: 88.35vh;
        right: 40%;
        z-index: 5;
    }

    #btnStart {
        font-size: 8vw;
        display: block;
        position: fixed;
        z-index: 7;
        transform: translateX(45%) translateY(90.75vh);
        background: none;
        border: none;
        color: #d4af37;
        filter: drop-shadow(0.2vh 0.2vh 0.8vh rgba(0, 0, 0, 0.5));
    }

    a.logo {
        text-align: center;
        display: block;
        position: fixed;
        z-index: 8;
        transform: translateX(24%) translateY(41.25vh);
        pointer-events: auto;
    }

    a.logo img {
        width: 30%;
        height: auto;
        display: block;
        filter: drop-shadow(0.2vh 0.2vh 0.8vh rgba(0, 0, 0, 0.5));
    }

    .fas.fa-stop {
        color: #020035;
        transform: translateX(-0.25vw);
    }

    .leaflet-control-geocoder {
        transform: translateX(-5%) translateY(0.9vh);
        position: fixed;
        z-index: 10;
    }

    .leaflet-control-geocoder-form input[type="text"] {
        width: 65vw;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        z-index: 10;
    }

    .leaflet-control-geocoder-form button[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        cursor: pointer;
        z-index: 10;
    }

    .clear-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-40%);
        z-index: 10;
        cursor: pointer;
    }

    .clear-icon i {
        font-size: 3vh;
        color: black;
    }

    .leaflet-routing-container {
        display: none !important;
    }
}

@media screen and (max-width: 431px) and (max-height: 933px) {
    body {
        width: 100%;
        height: 100vh;
        margin: 0;
        background: linear-gradient(to right, rgba(212, 175, 55, 0.5), rgba(2, 0, 53, 0.3));
        position: fixed;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fffafa;
        transform: translateY(31.5vh);
        margin: 15% auto;
        padding: 20px;
        border: none;
        width: 80%;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 4.5vw;
        border-radius: 4.5vh;
        box-shadow: 0.4vh 0.4vh 1vh #000000, -0.1vh -0.1vh 1vh #000000;
    }

    #allowButton {
        background-color: #4CAF50;
        color: white;
        border: none;
        width: 15vw;
        height: 5vh;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        font-size: 3.5vw;
        border-radius: 3.5vh;
    }

    /* Style for the X button */
    #cancelButton {
        background-color: #f44336;
        color: white;
        border: none;
        width: 15vw;
        height: 5vh;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        font-size: 3.5vw;
        border-radius: 3.5vh;
    }

    .modal-content button:hover {
        background-color: #45a049;
    }

    #map {
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 1;
    }

    .circle {
        margin: auto;
        width: 18.25vw;
        height: 8.92vh;
        background-color: #fffafa;
        border-radius: 50%;
        position: fixed;
        top: 89.1vh;
        right: 40.8vw;
        filter: drop-shadow(0.2vh 0.2vh 0.8vh rgb(0, 0, 0, 0.8));
        z-index: 6;
    }


    .navbar {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 8vh;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to right, #d4af37, #020035);
        border-top-left-radius: 3vh;
        border-top-right-radius: 3vh;
        display: block;
        position: fixed;
        z-index: 4;
        box-shadow: 0.1vh 0.1vh 1vh #000000, -0.1vh -0.1vh 1vh #000000;
    }

    .navbar-circle {
        margin-left: auto;
        margin-right: auto;
        width: 21vw;
        height: 10.45vh;
        background: linear-gradient(to right, rgba(212, 175, 55, 1), rgba(2, 0, 53, 1));
        border-radius: 50%;
        position: fixed;
        top: 88.35vh;
        right: 39.4vw;
        z-index: 5;
    }

    #btnStart {
        margin-left: auto;
        margin-right: auto;
        font-size: 8vw;
        display: block;
        position: fixed;
        z-index: 7;
        transform: translateX(45.25vw) translateY(90.75vh);
        background: none;
        border: none;
        color: #d4af37;
        filter: drop-shadow(0.2vh 0.2vh 0.8vh rgba(0, 0, 0, 0.5));
    }

    a.logo {
        margin: auto;
        text-align: center;
        display: block;
        overflow: hidden;
        position: fixed;
        z-index: 8;
        transform: translateX(24.25vh) translateY(41.25vh);
        pointer-events: auto;
    }

    a.logo img {
        width: 30%;
        overflow: hidden;
        height: auto;
        margin: auto;
        display: block;
        filter: drop-shadow(0.2vh 0.2vh 0.8vh rgba(0, 0, 0, 0.5));
    }

    .fas.fa-stop {
        color: #020035;
        transform: translateX(-0.25vw);
    }

    .leaflet-control-geocoder {
        transform: translateX(-8.5vw) translateY(0.9vh);
        position: fixed;
        z-index: 10;
    }

    .leaflet-control-geocoder-form input[type="text"] {
        /* Add your styling here */
        width: 65vw;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        z-index: 10;
    }
    
    /* Style for the search bar button */
    .leaflet-control-geocoder-form button[type="submit"] {
        /* Add your styling here */
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        cursor: pointer;
        z-index: 10;
    }
    
    .clear-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-40%);
        z-index: 10;
        cursor: pointer;
    }
    
    .clear-icon i {
        font-size: 3vh;
        color: black;
    }

    .leaflet-routing-container {
        display: none !important;
    }
}